<a class="item" (click)="toggle()">
  <i class="add user icon"></i>
</a>
<div class="item" id="social_media_icons" [style.display]="visibility()">
  <a class="ui facebook button">
    <!-- Put link in the href attribute -->
    <i class="facebook icon"></i>
  </a>
  <a class="ui twitter button">
    <!-- Put link in the href attribute -->
    <i class="twitter icon"></i>
  </a>
  <a class="ui linkedin button">
    <!-- Put link in the href attribute -->
    <i class="linkedin icon"></i>
  </a>
  <a class="ui instagram button">
    <!-- Put link in the href attribute -->
    <i class="instagram icon"></i>
  </a>
  <a class="ui linkedin button">
    <!-- Put link in the href attribute -->
    <i class="linkedin icon"></i>
  </a>
  <a class="ui github button">
    <!-- Put link in the href attribute -->
    <i class="github icon"></i>
  </a>
  <a class="ui google button">
    <!-- Put link in the href attribute -->
    <i class="google icon"></i>
  </a>
</div>
