:host {
    display: flex;
}
#social_media_icons {
    display: none;
    padding: 5px 0 0 !important
  }
  
  #social_media_icons .ui.button {
    margin: 0 .3rem !important;
    padding: 10px
  }
  
  #social_media_icons .ui.button .icon {
    margin: 0;
    padding: 0
  }