@if(float()){
<div [@testimony]="state">
  <div [class]="wrapper()">
    <div class="ui segment">
      <i class="huge quote icon" class="{{ float() }}"></i>
      <a class="ui label" [class]="ribbon()">
        <span class="person">
          <ng-content select="[name]"></ng-content>
        </span>
        <span class="position">
          <ng-content select="[position]"></ng-content>
        </span>
      </a>
      <p>
        <ng-content></ng-content>
      </p>
    </div>
  </div>
</div>
}
