.ui.inverted.menu :host.item a,
:host .item 
{
  width: 100% !important;
  height: 100% !important;
}
.ui.inverted.menu :host.item:hover,
:host .item  {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
}
.ui.inverted.menu :host a.item:hover {
  background: transparent !important;
}
