<div class="mfp-bg mfp-ready"></div>
<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto;" >
  <div class="mfp-container mfp-s-ready mfp-inline-holder">
    <div class="mfp-content">
      <div id="popup-2" class="white-popup mfp-hide1">
        <ng-content></ng-content>
        <button title="Close (Esc)" type="button" class="mfp-close" >×</button>
      </div>
    </div>
    <div class="mfp-preloader">Loading...</div>
  </div>
</div>
<p>project works!</p>
<div class="sliphover-container" style="">
    <a class="sliphover-overlay" href="#" target="_self" style="">
      <div style="">this is a normal caption</div>
    </a>
  </div>