@if(project){
<div class="ui fullscreen modal" style="display: block; z-index: 1001">
  <div id="page-ajax-loaded" class="page-portfolio-loaded animated">
    <div class="ajax-page-wrapper">
      <div class="ajax-page-nav">
        <div class="nav-item ajax-page-prev-next">
          <a
            class="ajax-page-load"
            data-testid="prevProject"
            (click)="onPrev()"
          >
            <i class="zmdi icon chevron left"></i>
          </a>
          <a
            class="ajax-page-load"
            data-testid="nextProject"
            (click)="onNext()"
          >
            <i class="zmdi icon chevron right"></i>
          </a>
        </div>
        <div class="nav-item ajax-page-close-button">
          <a id="ajax-page-close-button" [routerLink]="['../']">
            <i class="zmdi icon close"></i>
          </a>
        </div>
      </div>

      <div class="ajax-page-title">
        <h1>{{ project.project }}</h1>
      </div>

      <div class="ui grid">
        <div class="row">
          <div class="ten wide column portfolio-block">
            <div class="owl-carousel portfolio-page-carousel">
              <c-carousel [dark]="true" [wrap]="true">
                <div class="owl-stage-outer" style="min-height: 250px">
                  <c-carousel-inner>
                    <c-carousel-indicators></c-carousel-indicators>
                    @if(images()){ @for(img of images(); track $index;) {
                    <c-carousel-item class="item">
                      <img
                        [src]="imagePath(img)"
                        [alt]="project.altTitle"
                        class="d-block w-100"
                        [height]="600"
                        loading="eager"
                        style="min-height: 600px"
                      />
                    </c-carousel-item>
                    } }
                  </c-carousel-inner>
                </div>
                @if(images().length > 1) {
                <div className="owl-nav">
                  <c-carousel-control
                    [routerLink]
                    caption="Previous"
                    direction="prev"
                  >
                  </c-carousel-control>
                  <c-carousel-control
                    [routerLink]
                    caption="Next"
                    direction="next"
                  ></c-carousel-control>
                </div>
                }
              </c-carousel>
            </div>
          </div>

          <div class="six wide column portfolio-block">
            <div class="block-title">
              <h3>Description</h3>
            </div>
            <ul class="project-general-info">
              @if(project.url){
              <li>
                <p>
                  <i class="fa fa-globe"></i>
                  <a [href]="project.url" target="_blank" rel="noreferrer">
                    {{ project.url }}
                  </a>
                </p>
              </li>
              } @if(project.date) {
              <li>
                <p>
                  <i class="fa fa-calendar"></i>
                  {{ project.date | date : "full" }}
                </p>
              </li>
              }
            </ul>

            @if(project.description){
            <p class="text-justify">{{ project.description }}</p>
            } @else {
            <p class="text-justify">To be updated soon...</p>
            } @if(project.technologies){
            <div class="tags-block">
              <div class="block-title">
                <h3>Technology</h3>
              </div>
              <ul class="tags">
                @for(tech of project.technologies; track $index){
                <li>
                  <span>{{ tech }}</span>
                </li>
                }
              </ul>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
